.wrapper_qaz {
    padding: 50px;
    display: inline-block;
    background-color: yellow;
    color: black;
    border-radius: 50%;
    font-size: 14px;

    text-decoration: none;


}

.wrapper {
    min-width: 1070px;
    margin: 0 auto;
}

.wrapper_wsx {
    display: flex;
}

.wrapper_qwe {
    background-color: aliceblue;
    box-shadow: 5px 3px 4px 2px rgb(14, 12, 12);
    font-size: 18px;
    margin: 0%;
}

.wrapper_text {
    font-size: 32px;




}

.edc {
    height: 100%;
    object-fit: contain;
    object-position: center;
    width: 345px;
}

.wrapper_wer {
    font-size: 45px;
    font-weight: 200;
    display: flex;
    align-items: center;

}